body {
  background-color: #072933;
  text-align: center;
  color: #00c5ff; 
  font-family: "Fredoka One";
}
button {
  background-color: #00ff3c;
  border-radius: 7px;
  box-shadow: 24px;
  font-size: 20px;
}
button.large {
  background-color: #00ff3c;
  border-radius: 7px;
  box-shadow: 24px;
  font-size: 80px;
}
a {
  color: #00ff3c;
  text-decoration: underline;
}
div {
  margin: auto;
  width: 100px;
}
