body {
  background-color: #072933;
  text-align: center;
  color: #00c5ff; 
  font-family: "Fredoka One";
}
button {
  background-color: #00c5ff;
  border-radius: 7px;
  box-shadow: 24px;
  font-size: 20px;
}
